*.bak
*.lo
*.la
*.o
*.pyc
*.gir
*.typelib
*~
*.stamp
.*.sw[nop]
.deps
.libs
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/data/libpeas-1.0.pc
/data/libpeasui-1.0.pc
/depcomp
/libpeas/peas-marshal.h
/libpeas/peas-marshal.c
/peas-demo/peas-demo
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/loaders/python/bindings/libpeas.defs
/loaders/python/bindings/libpeas.c
/loaders/python/bindings/libpeasui.defs
/loaders/python/bindings/libpeasui.c
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/omf.make
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/py-compile
/so_locations
/stamp-h1
/xmldocs.make
