*.bak
*.lo
*.la
*.o
*.pyc
*.gir
*.typelib
*~
*.stamp
.*.sw[nop]
*.gcov
.deps
.libs
gschemas.compiled
Makefile
Makefile.in
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/data/libpeas-1.0.pc
/data/libpeas-gtk-1.0.pc
/data/glade/libpeas-gtk.xml
/depcomp
/libpeas-*.tar.bz2
/libpeas/peas-marshal.h
/libpeas/peas-marshal.c
/peas-demo/peas-demo
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/omf.make
/peas-demo/plugins/valahello/peasdemo-vala-hello-plugin.c
/po/*.header
/po/*.gmo
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-it
/py-compile
/so_locations
/stamp-h1
/tests/*-report.html
/tests/*-report.xml
/tests/*/cgdump-*
/tests/*/vgdump-*
/tests/libpeas/engine
/tests/libpeas/extension-c
/tests/libpeas/extension-gjs
/tests/libpeas/extension-python
/tests/libpeas/extension-seed
/tests/libpeas/extension-set
/tests/libpeas/plugin-info
/tests/libpeas/plugins/extension-js/extension-gjs.gschema.xml
/tests/libpeas/plugins/extension-js/extension-gjs.js
/tests/libpeas/plugins/extension-js/extension-gjs.plugin
/tests/libpeas/plugins/extension-js/extension-seed.gschema.xml
/tests/libpeas/plugins/extension-js/extension-seed.js
/tests/libpeas/plugins/extension-js/extension-seed.plugin
/tests/libpeas-gtk/plugin-manager
/tests/libpeas-gtk/plugin-manager-store
/tests/libpeas-gtk/plugin-manager-view
/xmldocs.make
