/html
/tmpl
/xml
/libpeas-decl-list.txt
/libpeas-decl.txt
/libpeas-undeclared.txt
/libpeas-undocumented.txt
/libpeas-unused.txt
/libpeas.args
/libpeas.hierarchy
/libpeas.interfaces
/libpeas.prerequisites
/libpeas.signals
/version.xml
/*.stamp
