/html
/tmpl
/xml
/libpeasui-decl-list.txt
/libpeasui-decl.txt
/libpeasui-undeclared.txt
/libpeasui-undocumented.txt
/libpeasui-unused.txt
/libpeasui.args
/libpeasui.hierarchy
/libpeasui.interfaces
/libpeasui.prerequisites
/libpeasui.signals
